<%# SECOND PART: LISTING ALL APPLICANTS %>
<div class="row">
  <h2>All Applicants</h2>
  <% applicants.forEach(function(applicant) { %>
    <div class="dropdown">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= applicant.name %> <br>
            <%= applicant.contact %>
          </h3>
        </div>
        <div class="panel-body">
          <% if( applicant.status === 'Interview') {%>
            <a
              class="btn btn-success"
              href="/applicants/<%=applicant.id%>?status=Interviewed">
              Interview
            </a>
          <% } else { %>
            <a
              class="btn btn-danger"
              href="/applicants/<%=applicant.id%>?status=Interview">
              Interviewed
            </a>
          <% }%>
          <br><br>
          <pre><%= applicant %></pre>
          <form
            method="POST"
            action="/applicants/<%= applicant.id%>?_method=DELETE"
          >
            <button class="btn btn-danger" type="submit">
              Delete Applicant
            </button>
          </form>
        </div>
      </div>
    </div>
  <% }) %>
</div>
