<div class="row">
  <h2>All Animals</h2>
  <% applicant.forEach(function(applicant) { %>
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= applicant.name %>
            <small>(member since <%= applicant.member_since%>)</small>
          </h3>
        </div>
        <div class="panel-body">
          <%= applicant.name %>
          <br><br>
          <% if( applicant.interview === 'Yet to Interview') {%>
            <a
              class="btn btn-success"
              href="/applicant/<%=applicant.id%>?status=interviewed">
              Interviwed
            </a>
          <% } else { %>
            <a
              class="btn btn-danger"
              href="/applicant/<%=applicant.id%>?status=yettointerview">
              Yet to Interview
            </a>
          <% }%>
          <a href="/applicant/<%=applicant.id%>" class="btn btn-primary">
            Show profile
          </a>
          <br><br>
          <form
            method="POST"
            action="/applicant/<%= applicant.id%>?_method=DELETE"
          >
            <button class="btn btn-danger" type="submit">
              Delete applicant
            </button>
          </form>
        </div>
      </div>
      <pre><%= applicant %></pre>
    </div>
  <% }) %>
</div>
